.card {
    position: relative;
    max-width: 464px;
    width: 100%;
    height: 721px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
@media screen and (min-width: 510px) {
    .card {
        box-shadow: 0px 0px 20px #04d9ff;
    }
}
.link {
    text-align: center;
    padding: 10px 0px;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-family: 'Protest Guerrilla', sans-serif;
    /* text-shadow: 0px 0px 3px #fff; */
}
.content {
    width: 100%;
    height: 100%;
}
.h1 {
    margin-top: 80px;
    text-align: center;
    font-size: 50px;
    font-family: 'Protest Guerrilla', sans-serif;
}
.myface {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #fff;
    background-image: url(../../../public/yukiosada.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}
.bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.bottom-upper {
    width: 464px;
    height: 102.3px;
}
.bottom-lower {
    width: 100%;
    height: 180px;
    padding: 0;
    margin: 0;
}

/* front card */
.front-card {
    background-color: rgb(0, 200, 255);
}
.front-top-space {
    height: 100px;
    width: 100%;
}
.front-content {
    background: linear-gradient(rgb(0, 200, 255), rgb(255, 255, 255));
}
.qr-front {
    width: 100px;
    height: 102px;
    background-image: url(../../../public/QR_front.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}
.front-bottom-lower {
    background-color: #0099ff;
}

/* back card */
.back-card {
    background-color: rgb(0, 173, 211);
}
.back-content {
    background: linear-gradient(rgb(0, 10, 48), rgb(0, 234, 255));
    position: relative;
}
.back-top-space {
    height: 200px;
    width: 100%;
}
.qr-back {
    width: 100px;
    height: 102px;
    background-image: url(../../../public/QR_back.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.back-icon {
    margin-bottom: -6px;
}
.back-link {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    padding: 10px 0px;
}
.back-bottom-lower {
    background-color: rgb(0, 95, 142);
}
.university {
    font-family: 'Protest Guerrilla', sans-serif;
    color: #fff;
    margin-left: auto;
    margin-top: 60px;
    width: fit-content;
}
.university h3 {
    margin: 0;
    padding: 0;
    padding-right: 10px;
}

.stars p {
    position: absolute;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 1);
    animation: flash_anim 4s infinite;
}

@keyframes flash_anim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
}

.stars.s p {
    width: 2px;
    height: 2px;
}

.stars.m p {
    width: 3px;
    height: 3px;
}

.stars.l p {
    width: 4px;
    height: 4px;
}

.stars.s p:nth-of-type(1) {
    top: 5%;
    left: 5%;
    animation-delay: 0;
}

.stars.s p:nth-of-type(2) {
    top: 20%;
    left: 20%;
    animation-delay: 1s;
}

.stars.s p:nth-of-type(3) {
    top: 30%;
    left: 30%;
    animation-delay: 0s;
}

.stars.s p:nth-of-type(4) {
    top: 80%;
    left: 40%;
    animation-delay: 2s;
}

.stars.s p:nth-of-type(5) {
    top: 5%;
    left: 50%;
    animation-delay: 3s;
}

.stars.s p:nth-of-type(6) {
    top: 40%;
    left: 60%;
    animation-delay: 3s;
}

.stars.s p:nth-of-type(7) {
    top: 10%;
    left: 70%;
    animation-delay: 1s;
}

.stars.s p:nth-of-type(8) {
    top: 20%;
    left: 80%;
    animation-delay: 0s;
}

.stars.s p:nth-of-type(9) {
    top: 60%;
    left: 90%;
    animation-delay: 1s;
}

.stars.s p:nth-of-type(10) {
    top: 10%;
    left: 99%;
    animation-delay: 2s;
}

.stars.m p:nth-of-type(1) {
    top: 84%;
    left: 4%;
    animation-delay: 3s;
}

.stars.m p:nth-of-type(2) {
    top: 34%;
    left: 14%;
    animation-delay: 0s;
}

.stars.m p:nth-of-type(3) {
    top: 64%;
    left: 34%;
    animation-delay: 1s;
}

.stars.m p:nth-of-type(4) {
    top: 14%;
    left: 44%;
    animation-delay: 2s;
}

.stars.m p:nth-of-type(5) {
    top: 74%;
    left: 54%;
    animation-delay: 1s;
}

.stars.m p:nth-of-type(6) {
    top: 44%;
    left: 64%;
    animation-delay: 1s;
}

.stars.m p:nth-of-type(7) {
    top: 94%;
    left: 74%;
    animation-delay: 1s;
}

.stars.m p:nth-of-type(8) {
    top: 44%;
    left: 84%;
    animation-delay: 0s;
}

.stars.m p:nth-of-type(9) {
    top: 34%;
    left: 94%;
    animation-delay: 2s;
}

.stars.m p:nth-of-type(10) {
    top: 4%;
    left: 97%;
    animation-delay: 0s;
}

.stars.l p:nth-of-type(1) {
    top: 74%;
    left: 7%;
    animation-delay: 0s;
}

.stars.l p:nth-of-type(2) {
    top: 47%;
    left: 17%;
    animation-delay: 1s;
}

.stars.l p:nth-of-type(3) {
    top: 64%;
    left: 27%;
    animation-delay: 3s;
}

.stars.l p:nth-of-type(4) {
    top: 77%;
    left: 37%;
    animation-delay: 2s;
}

.stars.l p:nth-of-type(5) {
    top: 27%;
    left: 57%;
    animation-delay: 2s;
}

.stars.l p:nth-of-type(6) {
    top: 74%;
    left: 67%;
    animation-delay: 0s;
}

.stars.l p:nth-of-type(7) {
    top: 7%;
    left: 77%;
    animation-delay: 2s;
}

.stars.l p:nth-of-type(8) {
    top: 87%;
    left: 87%;
    animation-delay: 1s;
}

.stars.l p:nth-of-type(9) {
    top: 77%;
    left: 97%;
    animation-delay: 1s;
}

.stars.l p:nth-of-type(10) {
    top: 17%;
    left: 63%;
    animation-delay: 1s;
}
